################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercises/ex2/cmake-build-debug
/Lesson1/.vs/Lesson1/v14
/Lesson1/Debug
/Lesson1/Lesson1.vcxproj.user
/Lesson1/Lesson1.vcxproj.filters
/Lesson1/Lesson1.vcxproj
/Lesson1/Lesson1.VC.VC.opendb
/Lesson1/Lesson1.VC.db
/Lesson1/Lesson1.sln
